*{
	margin: 0;
}
@font-face{
	font-family: Brown;
	src: url('../fonts/Brown-Font/BrownMedium Regular.ttf') ;
}
@font-face{
	font-family:'Jim Sans Light';
	src:url('../fonts/Jim-sans/jim-sans-light.woff2') format("woff2");
	font-weight:200;
	font-style:normal;
	font-display:block;
}
@font-face{
	font-family:'Jim Sans Medium';
	src:url('../fonts/Jim-sans/jim-sans-medium.woff2') format("woff2");
	font-weight:normal;
	font-style:normal;
	font-display:block;
}
@font-face{
	font-family:'Jim Sans Regular';
	src:url('../fonts/Jim-sans/jim-sans-regular.woff2') format("woff2");
	font-style:normal;
	font-display:block;
}


body{
	font-family: "Jim Sans Regular", Helvetica;
/*	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji",
"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
*/
	/*font-family: Montserrat, Mulish, Nunito, Quicksand;*/
	text-align: center;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
}
#seperating{
	background-color: #808080;
	height: 4px;
	width: 350px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
}
#seperating:nth-child(odd){
	width: 250px;
}


/*--------------------navbar------------------------*/
nav{
	background-color: #ffffff;
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #e4e7eb;
	z-index: 1;
}
.navbar{
	box-shadow: 3.716px 3.346px 40px 0px rgba(43,43,43,0.1);
}
nav ul{
	padding: 0;
}
nav li{
	float: left;
	width: 20%;
	height: 100px;
	text-align: center;
	display: flex;
  	justify-content: center; /*vertical align*/
  	align-content: center;
  	flex-direction: column;
}
nav a{
	text-decoration: none;
	color: #000000;
	font-size: 120%;
}
/*nav li:hover{
	background-color: #e1f2f2;
}*/
nav hr{
	width: 32px;
	margin-top: 5px;
	align-self: center;
}

.menu-button{
	display: none;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	position: fixed;
	right: 0;
}
.menu-button-line{
	background-color: #56b9b8;
	height: 3px;
	width: 22px;
	margin: 5px;
	border-radius: 30%;
}
/*--------------------navbar------------------------*/


/*--------------------home------------------------*/
#home{
	margin-top: 100px; 
	background-color: #e1f2f2;
	text-align: center;
	height: 500px;
	padding-top: 100px;
}
#home img{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: auto;
}
#home #name{
	font-size: 300%;
	margin: 15px;
}
#home span{
	font-size: 150%;
}
/*--------------------home------------------------*/


/*--------------------about------------------------*/
#about{
	padding: 50px 0px;
}
#about-me{
	font-size: 350%;
	margin-bottom: 20px;
}
#container{
	width: 60%;
	margin: auto;
}
#container hr{
	clear: both;
	height: 3px;
	background-color: #56b9b8;
	border-style: none;
}
.tabs{
	background-color: #eeedf0;
	color: #808080; 
	width: 150px;
	height: 45px;
	border-radius: 15px 15px 0px 0px;
	border:1px solid #d6d6d6;
	border-bottom: none;
	display: flex;
  	justify-content: center;  /*vertical align*/
  	align-content: center;
  	flex-direction: column;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.activeTab{
	background-color: #56b9b8;
	border:1px solid #56b9b8;
	border-bottom: none;
	color: #ffffff;
}
#data{
	border:1px solid #d6d6d6;
	border-top: none;
	clear: both;
}
#abt{
	width: 75%;
	margin: auto;
	padding: 40px;
	font-size: 130%;
}
/*----------timeline----------*/
.timeline{
	position: relative;
	padding: 20px;
}
.timeline::before{
	content: '';
	width: 4px;
	background-color: #848b8b;
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 100px;
}
#data .timeline hr{
	background-color: #d6d6d6;
	margin-left: 100px;
	height: 2px;
}
.event{
	text-align: left;
	margin-left: 130px;
	height: 150px;
	position: relative;
	display: flex;
  	justify-content: center; /*vertical align*/
  	align-content: center;
  	flex-direction: column;
}
.event div{
	font-size: 150%;
	margin-bottom: 5px;
}
.event span{
	font-size: 110%;
}
.event::before{
	content: '';
	background-color: white;
	box-shadow: 0 0 0 4px #848b8b;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 65px;
	left: -54px;
}
/*----------timeline----------*/
/*--------------------about------------------------*/


/*--------------------skills------------------------*/
#skills{
	padding: 50px 0px 10px 0px;
}
#skills-heading{
	font-size: 350%;
	margin-bottom: 20px;
}
.area{
	background-color: #eff8f8;
	border-radius: 10px;
	box-shadow: /*0 2px 10px 0 rgba(0,0,0,0.12)*/ 0 3px 12px 0 #ebebeb;
	width: fit-content;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	margin-bottom: 50px;
}
.area-head{
	font-size: 200%;
	margin-bottom: 20px;
}
.row{
	overflow: hidden;	
	width: fit-content;
	margin: auto;
}
.area:nth-child(3) .row:nth-child(2) .skill{
	margin-bottom: 20px;
}
.skill{
	background-color: #56b9b8; 
	font-size: 120%;
	width: 200px;
	height: 130px;
	margin: 0px 10px;
	border-radius: 30px;
	float: left;
	padding-top: 10px;
}
.icon{
	font-size: 90px;
	color: #ffffff;
}
/*--------------------skills------------------------*/


/*--------------------projects------------------------*/
#projects{
	padding: 50px 60px 80px 60px;
	overflow: hidden;
}
#projects-heading{
	font-size: 350%;
	margin-bottom: 40px;
}
.proj-container{
	width: 33.33%;
	float: left;
}
.project{
	margin: 0px 35px;
	border-radius: 9px;
	box-shadow: 0 3px 12px 0 #ebebeb;
	transition:all 400ms ease; 
}
.project:hover{
	box-shadow:0px 2px 30px 0px #ced3d6;
	transform:translateY(-5px);
}
.project-image{
	height: 340px;
	overflow: hidden;
	/*border-bottom: 2px solid #808080;*/
}
.project-image img{
	max-width: 100%;
	max-height: 100%;
}
.proj-container:nth-child(2) img{
	transform:translateY(10px);
}
.caption{
	font-size: 155%;
	height: 130px;
	border-radius: 0px 0px 9px 9px;
	background-color: #b7e1e1;
	display: flex;
  	justify-content: center; /*vertical align*/
  	align-content: center;
  	flex-direction: column;
}
.description{
	font-size: 65%;
	padding: 7px;
	color: #808080;
}
/*--------------------projects------------------------*/


/*--------------------contact------------------------*/
#contact{
	background-color: #56b9b8;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 10px;
}
#contact-heading{
	font-size: 350%;
	margin-bottom: 20px;
}
#email{
	font-size: 150%;
	margin-bottom: 30px; 
}
#get-in-touch{
	font-size: 170%;
	margin-bottom: 20px;
}
.social-media{
	font-size: 200%;
	color: #ffffff;
	margin: 0px 10px;
}
#copyright{
	font-size: 110%;
	margin-top: 30px;
}
/*--------------------contact------------------------*/
